<router-outlet></router-outlet>


<!-- <div class="wrap">


  <tvv-map (onRegionClick)="selectRegion($event)"></tvv-map>

  <h1>Карта благотворительности</h1>

  <div *ngIf="currentRegion" class="row close-region" (click)="selectRegion()" @titleAnimation>
    <span>{{currentRegion}}</span>
    <img src="/assets/icons/close.svg" alt="CLOSE">
  </div>

  <main>
    <router-outlet></router-outlet>
  </main>

  <a class="cab-link" [routerLink]="['/cab']">
    <img src="/assets/icons/cog.svg" alt="SETTINGS">
  </a>

</div> -->