<div *ngIf="region" class="page-wrap" @titleAnimation>
  <h2>{{region}}</h2>
  <!-- <in-progress></in-progress> -->


  <ng-container *ngIf="objects$ |async as objects; else inProgress">

    <ul *ngIf="objects.length > 0">
      <li *ngFor="let obj of objects">{{obj.title}}</li>
    </ul>

    <p *ngIf="objects.length === 0">Нет объектов благотворительности</p>

  </ng-container>

  <!-- <div *ngIf="!objects">Loading...</div> -->
</div>

<ng-template #inProgress>
  <in-progress></in-progress>
</ng-template>
