svg {
  max-width: 100%;
  max-height: 100%;
  transition: .7s ease-in-out;
}

g.group {
  cursor: pointer;

  path {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: var(--color-grey-light);
    stroke: var(--color-back);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    transition: 1s;
  }


  circle {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: var(--color-red);
    transition: .3s;
  }

  text {
    font-size: 11px;
    fill: var(--color-grey-text);
    transition: 1s;
  }

  &:hover {
    path {
      fill: var(--color-grey);
    }
  }

  &.active {

    path {
      fill: var(--color-grey-light);
    }

    text {
      fill: rgba(255, 255, 255, .24);
    }
  }

  &.inactive {
    path {
      fill: var(--color-back);
    }
  }
}

g.place {
  cursor: pointer;

  circle {
    fill: var(--color-grey);
    animation: in .3s ease-in-out;
    transition: .3s;
  }

  text {
    font-size: 10px;
    fill: var(--color-grey-text);
    animation: in .3s ease-in-out;
    transition: .3s;
  }

}



g.group.active~g.place {
  text {
    fill: var(--color-blue);
    font-size: 6px;
  }
}

@keyframes in {
  from {
    opacity: 0;
    // top: 40px;
    transform: translateX(3px);
  }

  to {
    opacity: 1;
    // top: 0px;
    // transform: translateY(0px);
  }
}

// @for $i from 1 through 20 {
//   g.place:nth-of-type($i) text {
//     animation-duration: (0.1 * $i)s;
//   }

//   // .columns-#{$i} {
//   //     width: (100% / $i);
//   // }
// }

// g.group.active~g.place:nth-of-type(1) text {
//   fill: red;
// }
// g.place {
//   &:nth-child(3) {
//     text {
//       fill: var(--color-red);
//       font-size: 6px;
//     }
//   }
// }
