<div *ngIf="place" class="page-wrap" @titleAnimation>
  <h2>{{place.name}}</h2>

  <div class="ctor">
    <ng-container *ngFor="let item of place.items">
      <!-- <p class="text"> {{item.value}} </p> -->
      <h2 *ngIf="item.type === CtorItemType.H1">{{item.value}}</h2>
      <h3 *ngIf="item.type === CtorItemType.H2">{{item.value}}</h3>
      <p *ngIf="item.type === CtorItemType.Text" class="ctor-text"> {{item.value}} </p>
      <img [src]="item.value" *ngIf="item.type === CtorItemType.Image" class="ctor-image">
      <p *ngIf="item.type === CtorItemType.Comment" class="ctor-comment"> {{item.value}} </p>
      <ul *ngIf="item.type === CtorItemType.List" class="ctor-list">
        <li *ngFor="let li of item.value.split('\n')"> {{li}} </li>
      </ul>

    </ng-container>
  </div>

  <h4>Проекты</h4>

  <ul *ngIf="place.projects.length > 0" class="projects">
    <li *ngFor="let project of place.projects">
      <a [routerLink]="['/map/' + place.region + '/' + place.id + '/' + project.id]">{{project.name}}</a>
    </li>
  </ul>

  <p *ngIf="place.projects.length === 0">Нет объектов благотворительности</p>

</div>
<div *ngIf="!place">Loading...</div>
