input[type="file"] {
  display: none;
}

button {
  margin-bottom: 12px;

  img {
    margin-left: 6px;
  }
}

.preview {
  width: 100px;
  height: 100px;
  margin: 6px 0;
}

.close-uploaded {
  margin: 6px 0 12px;
  text-decoration: dotted 1px underline;
  font-size: 11px;
  cursor: pointer;
}
